{{define "add"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" "Add"}}
    <body>
        {{template "header" "Add"}}
        <main>
            <form method="POST">
                <input type="text" placeholder="Data which you will add" required name="blockData" />
                <button>Add Block</button>
            </form>
        </section>
        {{template "footer"}}
    </body>
</html>
{{end}}